{% extends "template.html" %}
{% block conteudo %}


      <form action="{{ url_for('atualizar') }}" method="post">
        <fieldset>
          <input name="id_registro" id="id_registro"  value="{{ nip.id }}" readonly="readonly">

          <div class="form-row">
            <div class="form-group col-md-4">

              <label for="mes">Mês:</label>
              <select class="form-control form-control-sm" id="mes" name="mes">
                <option selected>{{ nip.mes }}</option>
                <option>JANEIRO</option>
                <option>FEVEREIRO</option>
                <option>MARÇO</option>
                <option>ABRIL</option>
                <option>MAIO</option>
                <option>JUNHO</option>
                <option>JULHO</option>
                <option>AGOSTO</option>
                <option>SETEMBRO</option>
                <option>OUTUBRO</option>
                <option>NOVEMBRO</option>
                <option>DEZEMBRO</option>
              </select>

            </div>
            <div class="form-group col-md-4">
              <label for="data_notificacao">Data da notificação:</label>
              <input type="text" id="data_notificacao" name="data_notificacao" class="form-control form-control-sm" value="{{ nip.data_notificacao }}">
            </div>
            <div class="form-group col-md-4">
              <label for="demanda">Demanda:</label>
              <input type="text" id="demanda" name="demanda" class="form-control form-control-sm" value="{{ nip.demanda }}">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="beneficiario">Beneficiário:</label>
              <input type="text" id="beneficiario" name="beneficiario" class="form-control form-control-sm" value="{{ nip.beneficiario }}">
            </div>

            <div class="form-group col-md-3">
              <label for="cidade_origem">Cidade de Origem:</label>
              <input type="text" id="cidade_origem" name="cidade_origem" class="form-control form-control-sm" value="{{ '' if nip.cidade_origem is none else nip.cidade_origem }}">
            </div>


            <div class="form-group col-md-3">
              <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" class="form-control form-control-sm" onBlur="validaCPF(this)" maxlength="11" value="{{ nip.cpf }}">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="produto">Produto:</label>
              <input type="text" id="produto" name="produto" class="form-control form-control-sm" value=" {{ nip.produto }}">
            </div>

            <div class="form-group col-md-3">
              <label for="plano">Plano:</label>
              <input type="text" id="plano" name="plano" class="form-control form-control-sm" value="{{ nip.plano }}">
            </div>


            <div class="form-group col-md-6">
              <label for="vendedor">Vendedor:</label>
              <input type="text" id="vendedor" name="vendedor" class="form-control form-control-sm" value="{{ nip.vendedor }}">
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-md-3">
              <label for="motivo">Motivo:</label>
              <input type="text" id="motivo" name="motivo" class="form-control form-control-sm" value="{{ nip.motivo }}">
            </div>
            <div class="form-group col-md-3">
              <label for="natureza">Natureza:</label>
              <select class="form-control form-control-sm" id="natureza" name="natureza">
                <option selected>{{ nip.natureza }}</option>
                <option>Assistencial</option>
                <option>Não Assistencial</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="status">Status:</label>
              <input type="text" id="status" name="status" class="form-control form-control-sm" value="{{ nip.status }}">
            </div>
          </div>


          <div class="form-group">
            <label for="observacao">Observação:</label>
            <textarea type="text" id="observacao" name="observacao" class="form-control" rows="3">{{ nip.observacao }}</textarea>
          </div>


          <div class="form-row">

            <div class="form-group col-md-3">
              <label for="data_classificacao">Data de classificação:</label>
              <input type="text" id="data_classificacao" name="data_classificacao" class="form-control form-control-sm" value="{{ '' if nip.data_classificacao is none else nip.data_classificacao }}">
            </div>
            <div class="form-group col-md-3">
              <label for="data_adesao">Data de adesão:</label>
              <input type="text" id="data_adesao" name="data_adesao" class="form-control form-control-sm" value="{{ '' if nip.data_adesao is none else nip.data_adesao }}">
            </div>
            <div class="form-group col-md-3">
              <label for="tipo_contrato">Tipo Contrato:</label>
              <select class="form-control form-control-sm" id="tipo_contrato" name="tipo_contrato" >
                <option selected>{{ '' if nip.tipo_contrato is none else nip.tipo_contrato }}</option>
                <option>PJ</option>
                <option>PF</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="protocolo">Protocolo:</label>
              <input type="text" id="protocolo" name="protocolo" class="form-control form-control-sm" value="{{ nip.protocolo }}">
            </div>

          </div>

          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="empresa">Empresa:</label>
              <input type="text" id="empresa" name="empresa" class="form-control form-control-sm" value="{{ nip.empresa }}">
            </div>
            <div class="form-group col-md-4">
              <label for="submotivo2">Submotivo2:</label>
              <input type="text" id="submotivo2" name="submotivo2" class="form-control form-control-sm" value="{{ nip.submotivo2 }}">
            </div>
            <div class="form-group col-md-4">
              <label for="classificacao">Classificacao:</label>
              <input type="text" id="classificacao" name="classificacao" class="form-control form-control-sm" value="{{ nip.classificacao }}">
            </div>

          </div>

          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="monitoramento">Monitoramento:</label>
              <input type="text" id="monitoramento" name="monitoramento" class="form-control form-control-sm" value="{{ '' if nip.monitoramento is none else nip.monitoramento }}">
            </div>
             <div class="form-group col-md-4">
              <label for="area_envolvida1">Area envolvida 1:</label>
              <input type="text" id="area_envolvida1" name="area_envolvida1" class="form-control form-control-sm" value="{{ '' if nip.area_envolvida1 is none else nip.area_envolvida1 }}">
            </div>
            <div class="form-group col-md-4">
              <label for="area_envolvida2">Area envolvida 2:</label>
              <input type="text" id="area_envolvida2" name="area_envolvida2" class="form-control form-control-sm" value="{{ '' if nip.area_envolvida2 is none else nip.area_envolvida2 }}">
            </div>

          </div>


          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
           <a class="btn btn-primary"  href="{{ url_for('index') }}"> Voltar </a>
        </fieldset>

      </form>


{% endblock %}