{% extends "template.html" %}
{% block conteudo %}
        <a class="btn btn-primary"  href="{{ url_for('novo') }}"> Nova NIP</a>
        <table id="example" class="table  table-bordered table-hover table-sm table-responsive">
        <thead class="thead-light">
            <tr>
                <th>Mês</th>
                <th>Data Notificação</th>
                <th>demanda</th>
                <th>beneficiario</th>
                <th>Protocolo</th>
                <th>motivo</th>
                <th>natureza</th>
                <th>status</th>
                <th>Última alteração:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for nip in nips %}
                <tr>
                    <td>{{ nip.mes }}</td>
                    <td>{{ nip.data_notificacao }}</td>
                    <td>{{ nip.demanda }}</td>
                    <td>{{ nip.beneficiario }}</td>
                    <td>{{ nip.protocolo }}</td>
                    <td>{{ nip.motivo }}</td>
                    <td>{{ nip.natureza }}</td>
                    <td>{{ nip.status }}</td>
                    {% if nip.ultima_modificacao is none %}
                        <td></td>
                    {% else %}
                        <td>{{ nip.ultima_modificacao }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('editar',id=nip.id) }}">Editar</a>

                        <a href="{{ url_for('deletar', id=nip.id) }}" class="delete-confirm">Deletar</a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
        </table>
<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='dataTables.bootstrap4.min.js') }}"></script>


<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );


    $(document).ready(function(){

        var vlabel = document.getElementsByTagName('label');

        var search = "Search:";
        for(var i = 0; i < vlabel.length; i++){

            if(vlabel[i].textContent == search){
                console.log(vlabel[i].textContent)
            }
         }
    });


$('.delete-confirm').on('click', function (event) {
    event.preventDefault();
    const url = $(this).attr('href');
    swal({
        title: 'Você tem certeza?',
        text: 'Este registro e seus detalhes serão excluídos permanentemente!',
        icon: 'warning',
        buttons: ["Cancelar", "Sim!"],
    }).then(function(value) {
        if (value) {
            window.location.href = url;
        }
    });
});


</script>

{% endblock %}